@charset "UTF-8";

/* 基本 */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

/* リセット / ノーマライズ / サニタイズ */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
